<router-outlet></router-outlet>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/agregarproducto">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/agregarcategoria">Categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/agregarproducto">Usuarios</a>
          </li>
          
        </ul>
        <div class=" btn btn-danger text-end">
          <a class="nav-link btn btn-danger my-2 my-sm-0" (click)="logout()" routerLink="/">
          <i class="fas fa-sign-in-alt"></i> Cerrarsesión</a>
          </div>
      </div>
    </div>
  </nav>

  
