<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="pagina-principal.component.css">
</head>
<body>
    <main>
        <h1 class="subtitulo-1">Conocé nuestros productos</h1>
        <div class="container-fluid w-75 gx-2">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 m-2">
                <section>
                    <div class="card text-center">
                        <img src="./assets/img-productos/imagen5.jpg" class="card-img-top mt-2 img-fluid" alt="Muñeco de Cubecraft" role="img" aria-labelledby="title1">
                        <div class="card-body fondo-carta">
                            <h5 class="card-title" id="title1">Cubecraft</h5>
                            <p class="card-text">Llevate a tu muñeco preferido</p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="card text-center">
                        <img src="./assets/img-productos/imagen10.jpg" class="card-img-top mt-2 img-fluid" alt="Cajas personalizadas" role="img" aria-labelledby="title2">
                        <div class="card-body fondo-carta">
                            <h5 class="card-title" id="title2">Cajas personalizadas</h5>
                            <p class="card-text">Cajas temáticas para guardar tus cosas</p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="card text-center">
                        <img src="./assets/img-productos/imagen12.jpg" class="card-img-top mt-2 img-fluid" alt="Colgantes temáticos" role="img" aria-labelledby="title3">
                        <div class="card-body fondo-carta">
                            <h5 class="card-title" id="title3">Colgantes</h5>
                            <p class="card-text">Completá tu outfit con los mejores personajes</p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="card text-center">
                        <img src="./assets/img-productos/imagen14.jpg" class="card-img-top mt-2 img-fluid" alt="Separadores de carpeta" role="img" aria-labelledby="title4">
                        <div class="card-body fondo-carta">
                            <h5 class="card-title" id="title4">Separadores</h5>
                            <p class="card-text">Organizá tu carpeta con estos separadores</p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="card text-center">
                        <img src="./assets/img-productos/imagen16.jpg" class="card-img-top mt-2 img-fluid" alt="Varios separadores" role="img" aria-labelledby="title5">
                        <div class="card-body fondo-carta">
                            <h5 class="card-title" id="title5">Separadores</h5>
                            <p class="card-text">Marcá las páginas de tus libros</p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="card text-center">
                        <img src="./assets/img-productos/imagen13.jpg" class="card-img-top mt-2 img-fluid" alt="Set de stickers" role="img" aria-labelledby="title6">
                        <div class="card-body fondo-carta">
                            <h5 class="card-title" id="title6">Set de stickers</h5>
                            <p class="card-text">Para pegar en todos tus espacios</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-center pb-4">
            <a href="/gallery" class="btn btn-modern">
                <img src="./assets/img-productos/collection-icon.svg" alt="Icono de colección" class="collection-icon">
                <h5 class="btn-text">Ver Galería De Productos</h5>
            </a>
        </div>
    </main>
</body>
</html>
