<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.component.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
    <title>Animati Papeleria</title>
</head>
<body>
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-container">
            <div >
                <h3>ANIMATI PAPELERIA</h3>
                <p>Diseños 100% originales!!!</p>
                <p>Aritos, Posters, Polaroids</p>
                <p>Cajas temáticas, Señaladores, etc.</p>
            </div>
            <div class="footer-column2">
                <h3>CONTACTO</h3>
                <p>
                    <a href="https://www.instagram.com/animati_papeleria/" target="_blank">
                        <i class="ri-instagram-line"></i>
                    </a> animati_papeleria
                </p>
                <p>
                    <a href="https://wa.me/3521413315" target="_blank">
                        <i class="ri-whatsapp-line"></i>
                    </a> (3521) 413315
                </p>
            </div>
        </div>
    </footer>
</body>
</html>
