<main>
    <h1 class="subtitulo py-2">Conocé nuestros productos</h1>
     <div class="container-fluid w-75 gx-2">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 m-2">
         <section>
          <div class="card text-center bg-success">
            <img src="./assets/img-productos/imagen5.jpg" class="card-img-top mt-2 img-fluid" alt="cubecraft" id="cubecraft">
            <div class="card-body text-center fondo-carta">
               <h5 class="card-title">Cubecraft</h5>
               <p class="card-text">Llevate a tu muñeco preferido</p>
             </div>
          </div>
         </section>
         <section>
          <div class="card text-center bg-success">
            <img src="./assets/img-productos/imagen10.jpg" class="card-img-top mt-2 img-fluid" alt="Cajas" id="Cajas">
            <div class="card-body fondo-carta">
              <h5 class="card-title">Cajas personalizadas</h5>
              <p class="card-text">Cajas temáticas para guardar tus cosas</p>
            
            </div>
          </div>
         </section>
         <section>
          <div class="card text-center bg-success">
            <img src="./assets/img-productos/imagen12.jpg" class="card-img-top mt-2 img-fluid" alt="colgantes" id="colgantes">
            <div class="card-body fondo-carta">
              <h5 class="card-title">Colgantes</h5>
              <p class="card-text">Completá tu outfit con los mejores personajes</p>
            
            </div>
          </div>
         </section>
         <section>
          <div class="card text-center bg-success">
            <img src="./assets/img-productos/imagen14.jpg" class="card-img-top mt-2 img-fluid" alt="separadores" id="separadores">
            <div class="card-body fondo-carta">
              <h5 class="card-title">Separadores</h5>
              <p class="card-text">Organizá tu carpeta con estos separadores</p>
            
            </div>
          </div>
         </section>
         <section>
          <div class="card text-center bg-success">
            <img  src="./assets/img-productos/imagen16.jpg" class="card-img-top mt-2 img-fluid" alt="varios separadores" id="separadores-autoadhesivos">
            <div class="card-body fondo-carta">
              <h5 class="card-title">Separadores</h5>
              <p class="card-text">Marcá las páginas de tus libros</p>
            
            </div>
          </div>
         </section>
         <section>
          <div class="card text-center bg-success">
            <img src="./assets/img-productos/imagen13.jpg" class="card-img-top mt-2 img-fluid" alt="stickers" id="stickers">
            <div class="card-body fondo-carta">
              <h5 class="card-title">Set de stickers</h5>
              <p class="card-text">Para pegar en todos tus espacios</p>
            </div>
          </div>
         </section>
       </div>
     </div>

     <div class="d-flex justify-content-center pb-4" style="height: 100px">
      <a routerLink="/gallery" class="btn btn-primary" style="font-size: 20px; padding: 20px 40px;">
        <div style="display: flex; align-items: center;">
            <span class="text-decoration-none"> 
                <img src="./assets/img-productos/collection-icon.svg" alt="collection-icon" class="cxollection-icon" style="width: 3rem;">
            </span> <h5> Ver Galería De Productos</h5>
        </div>
      
      </a>
    </div>
    
   </main>  
