<body>
    <section class="about-us">
        <h1>¿Quiénes Somos?</h1>
        <p>Bienvenidos a <strong>Animati</strong></p>
        <p>En <strong>Animati</strong>, nos dedicamos a darle vida a tus ideas a través de productos únicos y personalizados. Somos un equipo apasionado por la creatividad y el diseño, comprometidos en ofrecerte artículos que reflejen tu personalidad y estilo.</p>
        
        <h2>Nuestra Misión</h2>
        <p>Nuestra misión es transformar tus ideas en realidad, proporcionándote productos de alta calidad que no solo sean funcionales, sino que también añadan un toque especial a tu día a día.</p>
        
        <h2>Nuetros Productos</h2>
        <ul>
            <li><strong>Separadores:</strong> Perfectos para organizar tus libros y documentos con un toque original.</li>
            <li><strong>Sets de Stickers:</strong> Diseños únicos y personalizados para decorar tus cuadernos, laptops y más.</li>
            <li><strong>Cubecraft:</strong> Figuras de papel que ensamblas tú mismo, ideales para decorar tu espacio o como regalo.</li>
            <li><strong>Cajas Personalizadas:</strong> Cajas diseñadas a tu gusto, perfectas para regalos especiales o para organizar tus pertenencias.</li>
            <li><strong>Colgantes:</strong> Accesorios que combinan estilo y personalización para llevar contigo en todo momento.</li>
            <li><strong>Blocks de Notas:</strong> Prácticos y creativos, ideales para tus apuntes, listas y recordatorios.</li>
            <li><strong>Llaveros:</strong> Diseños únicos que te acompañan a donde vayas, añadiendo un toque personalizado a tus llaves.</li>
        </ul>
        
        <h2>Nuestro Compromiso</h2>
        <p>En Animati, valoramos la originalidad y la calidad. Cada uno de nuestros productos es elaborado con dedicación y atención al detalle, asegurándonos de que cada pieza sea única y especial.</p>
        
        <h2>Nuestro Equipo</h2>
        <p>Somos un equipo de diseñadores, artistas y entusiastas de la papelería y el diseño. Juntos, trabajamos para ofrecerte productos que te inspiren y te acompañen en tu día a día.</p>
        <div class="team">
            <a href="https://github.com/Luciano-Arevalo" target="_blank">Arévalo Luciano</a>
            <a href="https://github.com/Looser3058" target="_blank">Luciana Ferace</a>
            <a href="https://github.com/Pala797" target="_blank">Lautaro Palacio</a>
            <a href="https://github.com/jonjonathanarias" target="_blank">Arias Jonatan</a>
            <a href="https://github.com/NicolasAudicio" target="_blank">Audicio Claudio Nicolas</a>
            <a href="https://github.com/DalilaPalomeque" target="_blank">Palomeque Dalila Macarena</a>
            <a href="https://github.com/JohnJoshepSalinas" target="_blank">Salinas Juan José</a>
            <a href="https://github.com/GabrielNDJ" target="_blank">De Nieto Gabriel</a>
        </div>
        
        <h2>Contáctanos</h2>
        <p>Nos encantaría saber de ti. Si tienes alguna pregunta, comentario o una idea que te gustaría ver realizada, no dudes en <a routerLink="/contacto" href="/contacto.html">contactarnos</a>. Estamos aquí para ayudarte y hacer realidad tus proyectos.</p>
        
        <p>Esperamos que disfrutes de nuestros productos tanto como nosotros disfrutamos creándolos para ti.</p>
    </section>
</body>
        
  

    
    <script src="script.js"></script>



