<body>
    
  



<section id="quienes-somos">
    <div class="container">
        <h2>Quiénes Somos</h2>
        <p>Somos una empresa dedicada a la creación de páginas web, aplicaciones móviles y diseño gráfico. Nuestro objetivo es brindar soluciones digitales a empresas y emprendedores que desean tener presencia en internet.</p>
        <p>Contamos con un equipo de profesionales altamente capacitados y con amplia experiencia en el desarrollo de proyectos digitales. Nos enfocamos en la calidad, la innovación y la creatividad para ofrecer soluciones a medida de las necesidades de nuestros clientes.</p>
        <p>En AnimatiWeb nos apasiona lo que hacemos y trabajamos con dedicación y compromiso para lograr la satisfacción de nuestros clientes. Si estás buscando una empresa confiable y comprometida con la excelencia,
        <div class="imagen-container">
            <img src="equipo.jpg" alt="Nuestro equipo" class="equipo-imagen">
        </div>
        
        <h3>Nuestros Valores</h3>
        <ul>
            <li>Innovación</li>
            <li>Compromiso</li>
            <li>Excelencia</li>
            <li>Integridad</li>
        </ul>
        
        <p>Únete a nuestro equipo y sé parte de una empresa líder en tecnología. <a routerLink="/contacto" href="/contacto.html">Contáctanos</a> para más información.</p>
    </div>
</section>
    
        

   

    
    <script src="script.js"></script>



