<div class="about-us">
    <section>
        <div class="header">
            <h1>Quienes Somos</h1>
        </div>
        <div >
            <p>Animatic es una papelería dedicada a ofrecer una amplia gama de productos de alta calidad para satisfacer las necesidades de nuestros clientes. Desde nuestra fundación en [año de fundación], nos hemos comprometido a proporcionar artículos de papelería y librería que inspiran la creatividad y la productividad en el día a día. </p>
        </div>

        <div class="vision">
            <h2>Nuestra Visión</h2>
            <p>Aspiramos a ser la papelería de referencia en nuestra comunidad, reconocida por la calidad de nuestros productos, la excelencia en el servicio al cliente y nuestro compromiso con la sostenibilidad. Nos esforzamos por ser el lugar al que acudan estudiantes, profesionales y creativos en busca de inspiración y herramientas de trabajo.</p>
        </div>
        <div class="values">
            <h2>Nuestros Valores</h2>
            <ul>
                <li>Innovación</li>
                <li>Colaboración</li>
                <li>Integridad</li>
                <li>Empatía</li>
            </ul>
        </div>

        
        <div >
            <h2>Nuestros Productos</h2>
            <ul>
                <li><strong>Separadores:</strong> Perfectos para organizar tus libros y documentos con un toque original.</li>
                <li><strong>Sets de Stickers:</strong> Diseños únicos y personalizados para decorar tus cuadernos, laptops y más.</li>
                <li><strong>Cubecraft:</strong> Figuras de papel que ensamblas tú mismo, ideales para decorar tu espacio o como regalo.</li>
                <li><strong>Cajas Personalizadas:</strong> Cajas diseñadas a tu gusto, perfectas para regalos especiales o para organizar tus pertenencias.</li>
                <li><strong>Colgantes:</strong> Accesorios que combinan estilo y personalización para llevar contigo en todo momento.</li>
                <li><strong>Blocks de Notas:</strong> Prácticos y creativos, ideales para tus apuntes, listas y recordatorios.</li>
                <li><strong>Llaveros:</strong> Diseños únicos que te acompañan a donde vayas, añadiendo un toque personalizado a tus llaves.</li>
            </ul>

            <h2>Nuestra Misión</h2>
            <p>En Animatic, estamos comprometidos a ofrecer productos excepcionales que faciliten y enriquezcan las actividades académicas, profesionales y personales de nuestros clientes. Nuestra misión es ser el proveedor de confianza para todas sus necesidades de papelería y librería, apoyando sus sueños y proyectos.</p>

            <div >
            <h2>Nuestro Equipo</h2>
            <p>Somos un equipo de diseñadores, artistas y entusiastas de la papelería y el diseño. Juntos, trabajamos para ofrecerte productos que te inspiren y te acompañen en tu día a día.</p>
            <div class="team">
                <ul> 
                    <li><a href="https://github.com/Luciano-Arevalo" target="_blank">Arévalo Luciano</a></li>
                    <li><a href="https://github.com/Looser3058" target="_blank">Luciana Ferace</a></li>
                    <li><a href="https://github.com/Pala797" target="_blank">Lautaro Palacio</a></li>
                    <li><a href="https://github.com/jonjonathanarias" target="_blank">Arias Jonatan</a></li>
                    <li><a href="https://github.com/NicolasAudicio" target="_blank">Audicio Claudio Nicolas</a></li>
                    <li> <a href="https://github.com/DalilaPalomeque" target="_blank">Palomeque Dalila Macarena</a></li>
                    <li><a href="https://github.com/JohnJoshepSalinas" target="_blank">Salinas Juan José</a></li>
                    <li> <a href="https://github.com/GabrielNDJ" target="_blank">De Nieto Gabriel</a></li>             
                </ul> 
            </div>
        </div>

            <h2>Contáctanos</h2>
            <p>Nos encantaría saber de ti. Si tienes alguna pregunta, comentario o una idea que te gustaría ver realizada, no dudes en <a routerLink="/contacto" href="/contacto.html">contactarnos</a>. Estamos aquí para ayudarte y hacer realidad tus proyectos.</p>

            <p>Esperamos que disfrutes de nuestros productos tanto como nosotros disfrutamos creándolos para ti.</p>
        </div>
    </section>
</div>
