* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    letter-spacing: 2px;
    color: #fdb9ee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    text-shadow: 
        2.5px 1.5px 4px #4d4c4c,
        1px -2px 3px #f8dede,
        -2px 1px 0 #db11d1, 
        -1px -1px 0 #333;
    margin-top: 20px;
    text-align: left; 
}

p {
    padding: 20px;
    line-height: 1.6;
    margin-bottom: 15px;
    text-shadow: 1px -1px 0 #020202;
}


.about-us {
    background-color: #f8efef; 
    padding: 50px;
    margin: 20px auto;
    max-width: max-content;
    border-radius: 15px;
    box-shadow: 
        0 4px 8px rgba(0, 0, 0, 0.5), 
        0 6px 20px rgba(0, 0, 0, 0.5);
}

.about-us ul {
    list-style-type: none;
    padding: 10px;
}

.about-us ul li { 
    padding-left: 30px;
    margin-bottom: 10px;
}

.team {
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    background-color: #fcefef;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    
}

.team a {
    position: relative;
    padding: 10px 15px;
    text-decoration: none;
    overflow: hidden;
    color: #333;
    font-weight: bolder;
    transition: font-size 0.3s, color 0.3s;
}

.team a:hover {
    font-size: 25px; 
}

.team a:nth-child(1):hover {
    color: #6b9bf3; 
}
