<!DOCTYPE html>
<html lang="es">

<body>
  <div class="container">
  

    <div class="body">
      <h3>Registrarse</h3>
      <p>Complete el formulario con sus datos</p>
      <form id="contact-form" method="post" action='./registration.py'>
        <fieldset>
          <label for="Nombre_Usuario">Usuario:</label>
          <input id="Nombre_Usuario" name="Nombre_Usuario" type="text" required>
        </fieldset>
        <fieldset>
          <label for="Numero_Telefono">Número de Teléfono:</label>
          <input id="Numero_Telefono" name="Numero_Telefono" type="tel" pattern="[0-9]{10}" required>
        </fieldset>
        <fieldset>
          <label for="email">Correo electrónico:</label>
          <input id="email" name="email" type="email" required>
        </fieldset>
        <fieldset>
          <label for="password">Nueva contraseña:</label>
          <input id="password" name="password" type="password" pattern="^(?=.*[A-Z])(?=.*\d).{8,}$" title="La contraseña debe contener al menos 8 caracteres con al menos una letra mayúscula y un número." required>
        </fieldset>
        <fieldset>
          <label for="business-account">
            <input id="business-account" type="radio" name="account-type" class="inline">
            Deseo recibir correos electrónicos con novedades
          </label>
          <label for="terms-and-conditions">
            <input id="terms-and-conditions" type="checkbox" required name="terms-and-conditions" class="inline">
            Acepto los <a href="./terms-y-co.html">términos y condiciones</a>
          </label>
          <input type="submit" name="submit" value="Registrarse">
        </fieldset> 
      </form>
    </div>
  </div>
</body>
</html>
