<section id="separadores">

    <div class="menu">
      <header class="text-center">
        <div class="titulo">
          <img src="./assets/img-productos/ico-titulo.jpg" alt="Productos" width="350" height="96">
        </div>
        <p>Para personalizar cualquier pedido contactanos por nuestras redes sociales</p>
      </header>
      <main>
        <section id="producto">
          <div class="row">
            <h2>Separadores</h2>
          </div>
          <article class="imagen">
            <img id="imagen" src="./assets/img-productos/prod-5.jpg" alt="Separadores autoadhesivos" style="max-width: 400px;">
            <h3>Separadores Autoadhesivos</h3>
            <p>$900,00</p>
          </article>
        </section>
        