<script>
    //validaciones en JavaScript
    document.addEventListener('DOMContentLoaded', function () {
      const form = document.querySelector('form');
      const nombreUsuario = document.querySelector('#Nombre_Usuario');
      const email = document.querySelector('#email');
  
      form.addEventListener('submit', function (event) {
        // Valida el campo Nombre de Usuario
        if (!nombreUsuario.checkValidity()) {
          alert('El campo Nombre de Usuario es inválido.');
          event.preventDefault(); // Evita que se envíe el formulario
          return;
        }
  
        // Valida el campo de Correo Electrónico
        if (!email.checkValidity()) {
          alert('El campo Correo Electrónico es inválido.');
          event.preventDefault();
          return;
        }
      });
    });
  </script>
<div class="container">

  <div class="body">
    <h3>Contacta con Animati</h3>
    <p>Escríbenos un mensaje para que entremos en contacto contigo.</p>
    <form id="contact-form" method="post" action="./registration.py">
      <fieldset>
        <label for="Nombre_Usuario">Nombre</label>
        <input id="Nombre_Usuario" name="Nombre_Usuario" type="text" required>
      </fieldset>
      <fieldset>
        <label for="email">Correo electrónico</label>
        <input id="email" name="email" type="email" required>
      </fieldset>
      <fieldset>
        <label for="Mensaje">Mensaje</label>
        <textarea id="Mensaje" name="Mensaje" rows="6" required>Escribe tu mensaje aquí...</textarea>
      </fieldset>
      <fieldset>
        <input type="submit" name="submit" value="Enviar">
      </fieldset>
    </form>
  </div>
</div>
