<footer>
    <div class="col-12">
       <table class="table table-danger margen">
       <thead>
       <tr>
         <th scope="col">ANIMATI PAPELERIA</th>
         <th scope="col">CONTACTO:</th>
       </tr>
       </thead>
       <tbody>  
       <tr><td>Diseños 100% originales!!!<br>
       Aritos-Posters-Polaroids<br>
       Cajas tematicas-Señaladores-etc
       </td><td><i class="ri-instagram-line"></i><a class="text-decoration-none" href="https://www.instagram.com/animati_papeleria/">@animati_papelería</a>
         <br>
         <i class="ri-whatsapp-line"></i>(3521) 413315
      
      <!--css-->
      <link href="footer.component.css" rel="stylesheet">
      <link rel="stylesheet" type="tex/css" href="normalize.css"><link rel="stylesheet" href="css/stylo.css">
      
     </td></tr>
     </tbody>
     </table>
    </div>
  </footer>
