<header>
    <div class="menu nav">
      <a routerLink="/"><img src="../../../assets/img/imagen1.jpg" alt="login-icon" class="log-icon" style="max-width: 5rem;"></a>
      <nav class="">
          <ul>
            <li><a routerLink="/gallery"> Galeria de productos</a></li>
            <li><a routerLink="/login">Iniciar sesion</a></li>
            <li><a class="nav-link" routerLink="./registroUsuarios" routerLinkActive="active">Registrarse</a></li>
            <li><a routerLink="/contacto">Contacto</a></li>
          </ul>
      </nav>
    </div>
  </header>
  
