<section id="stickers">
  <div class="menu">
  <header class="text-center">
    <div class="titulo">
        <img src="./assets/imagen-set-stickers/ico-titulo.jpg" alt="Productos" width="350" height="96">
    </div>
    <p>Para personalizar cualquier pedido contactanos por nuestras redes sociales</p>
    </header>
  <main>
        <section id="producto">
            <div class="row">
                <h2>Stickers</h2>
            </div>
            <article class="imagen">
                <img id="imagen" src="./assets/imagen-set-stickers/prod-4.jpg" alt="Set de stickers" style="max-width: 400px;">
                <h3>Set de Stickers</h3>
                <p>$1.500,00</p>
            </article>
            
        </section>
    
    </main>
  </div>

</section>