<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Productos</title>
    <link rel="stylesheet" href="gallery.component.css">
</head>
<body>
    <div class="container-fluid body">
        <!-- Sección Menú -->
        <div class="container menu">
            <header class="container-fluid text-center">
                <div class="titulo">
                    <img src="../../assets/images/ico-titulo.jpg" alt="Productos" width="350" height="96">
                </div>
                <p>Nuestros productos son completamente originales y están ilustrados por Animati. Si desean algún diseño personalizado, no duden en solicitarlo.</p>
            </header>
            <div class="productos container-fluid">
                <div class="productos-grid">
                    <article class="producto">
                        <img src="../../assets/images/prod-1.jpg" alt="Block de notas">
                        <h3><a href="./block-de-notas.html">Blocks de notas</a></h3>
                        <p>$3.150,00</p>
                    </article>
                    <article class="producto">
                        <img src="../../assets/images/prod-2.jpg" alt="Llaveros">
                        <h3><a href="./llaveros.html">Llaveros</a></h3>
                        <p>$5.000,00</p>
                    </article>
                    <article class="producto">
                        <img src="../../assets/images/prod-3.jpg" alt="Cubrecraft happy city">
                        <h3><a href="./cubecraft-happy-city.html">Cubrecraft Happy City Coleccionable</a></h3>
                        <p>$14.200,00</p>
                    </article>
                    <article class="producto">
                        <img src="../../assets/images/prod-4.jpg" alt="Set de stickers">
                        <h3><a href="./set-stickers.html">Set de stickers</a></h3>
                        <p>$3.500,00</p>
                    </article>
                    <article class="producto">
                        <img src="../../assets/images/prod-5.jpg" alt="Separadores autoadhesivos">
                        <h3><a href="./separadores-autoadhesivos.html">Separadores autoadhesivos</a></h3>
                        <p>$1.300,00</p>
                    </article>
                </div>
                <br>
            </div>
        </div>
    </div>
</body>
</html>
