<!DOCTYPE html>
<html lang="en">
  
    <head> 
      <!--titulo-->
      <title> Animati/Products </title>
     <!--metadatos--> 
      <meta charset="utf-8">
      <meta name="author" content="Team_Rocket_2.0">
      <meta name="desciption" content="proyectoweb">
      <meta name="keywords" content="ANIME">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--favicon-->
      <link rel="icon" type="image/icon" href="img/icono.ico">
     
     <!--boostrap-->
     
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
      <!--css-->
      <link href="gallery.component.css" rel="stylesheet">
    </head>
    <Body>

      <!--seccion menu-->
      <div class="menu">
        <header class="text-center">
        <div class="titulo">
            <img src="../../assets/images/ico-titulo.jpg" alt="Productos" width="350" height="96">
        </div>
        <p>Nuestros productos son completamente originales y están ilustrados por Animati. Si desean algún diseño personalizado, no duden en solicitarlo.</p>
      </header>
      <div class="productos">
        <div class="row">
            <article class="imagen">
              <img src="../../assets/images/prod-1.jpg" alt="Block de notas">
              <h3><a href="./block-de-notas.html">Blocks de notas</a></h3>
              <p>$2.300,00</p>
            </article>
            <article class="imagen">
                <img src="../../assets/images/prod-2.jpg" alt="Llaveros">
                <h3><a href="./llaveros.html">Llaveros</a></h3>
                <p>$3.000,00</p>
            </article>
            <article class="imagen">
                <img src="../../assets/images/prod-3.jpg" alt="Cubrecraft happy city">
                <h3><a href="./cubecraft-happy-city.html">Cubrecraft Happy City Coleccionable</a></h3>
                <p>$8.200,00</p>
            </article>
            <article class="imagen">
                <img src="../../assets/images/prod-4.jpg" alt="Set de stickers">
                <h3><a href="./set-stickers.html">Set de stickers</a></h3>
                <p>$1.500,00</p>
            </article>
            <article class="imagen">
                <img src="../../assets/images/prod-5.jpg" alt="Separadores autoadhesivos">
                <h3><a href="./separadores-autoadhesivos.html">Separadores autoadhesivos</a></h3>
                <p>$900,00</p>
            </article>
          </div>
        </div>
      </div>
      
        <!--boostrap-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
          crossorigin="anonymous"></script>
    </Body>
    </html>
