
<section id="LLaveros"></section>
<div class="menu">
    <header class="text-center">
        <div class="titulo">
            <img src="img-productos/ico-titulo.jpg" alt="Productos" width="350" height="96">
        </div>
        <p>Para personalizar cualquier pedido contactanos por nuestras redes sociales</p>
    </header>
    <main>
        <section id="Llaveros">
            <div class="row">
                <h2>Llaveros</h2>
            </div>
            <article class="imagen">
                <img id="imagen" src="img-productos/prod-2.jpg" alt="Llaveros" style="max-width: 400px;">
                <h3>Llaveros</h3>
                <p>$5.000,00</p>
            </article>
        </section>
        <div class="row-cols-auto">
            <aside id="descripcion">
                <h4>Descubre nuestra colección de llaveros artesanales, donde cada pieza es una pequeña obra maestra que
                    cobra vida en tus manos. Desde adorables animales hasta icónicos héroes, estos personajes están
                    meticulosamente elaborados para brindarte compañía y estilo únicos. Agrega un toque de personalidad
                    a tus llaves con estos encantadores llaveros que son mucho más que simples accesorios, ¡son
                    compañeros que te inspiran en cada paso!</h4>
            </aside>
        </div>
    </main>